<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volatile Chess</title>
  <link rel="stylesheet" href="./style/stylesheet.css">
</head>
<body>
  <h1 class = "main">Viewing chess board / set <%</h1>


  <div class = "navbar">
    <a href = "/">Volatile Chess</a>
    <a href = "/createUser">Register Account</a>
    <a href = "/login">Login</a>
  </div>
</body>
</html>
