<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main page</title>
  <link rel="stylesheet" href="./style/stylesheet.css">
</head>
<body>
  <h1 class = "main">Viewing chess board</h1>
  <p>Need to figure out multiplayer sessions</p>
  <p>User should olny get to this page if they select it from their page</p>
  <p>requires login and multiplay session</p>
  <p>need to create js to make a chess board here</p>

  <div class = "navbar">
    <a href = "index.html" class = "active">Volatile Chess</a>
    <a href = "createUser.html">Register Account</a>
    <a href = "login.html">Login</a>
    <a href = "userPage.html">User Page</a>
  </div>
</body>
</html>
