<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
  <link rel="stylesheet" href="./style/stylesheet.css">
</head>
<body>
  <h1 class = "main">Create an account</h1>
  <div class = "trueCenter">
    <form action = "/users" method = "post">
        <div>
            <label for = "email">Email</label>
            <input type = "email" id = "email" name = "email" required>
          </div>
        <div>
          <label for = "userName">Userame</label>
          <input type = "userName" id = "userName" name = "userName" required>
        </div>
        <div>
            <label for = "password"> Password</label>
            <input type = "password" id = "password" name = "password" required>
        </div>
        <div>
            <button>Enter</button>
        </div>
    </form>
    </div>

    <br>
    <div class = "shortTextBox">
      <p class = "textBox">Have an account?<br><a href = "/login" class = "login">Login here!</a></p>
    </div>

  <div class = "navbar">
    <a href = "/">Volatile Chess</a>
    <a href = "/createUser"  class = "active">Register Account</a>
    <a href = "/login">Login</a>
  </div>
</body>
</html>
