<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CreatePiece</title>
  <link rel="stylesheet" href="./style/stylesheet.css">
</head>
<body>
  <h1>Create A New Chess Piece</h1>
  <form action="/createPiece" method="post">
    <div class="formBox">
    <label for="pieceName">Piece Name</label>
    <input type="text" name="pieceName" id="pieceName">
    </div>
    <div class="textBox">
      <legend>Select A piece to Replace</legend>
    <div>

    <input type="radio" id="replaces" name="replaces" value="Pawn" checked>
    <label for="replaces">Pawn</label>

      </div>
    <div>

    <input type="radio" id="replaces" name="replaces" value="Rook" >
    <label for="replaces">Rook</label>

      </div>
      <div>

      <input type="radio" id="replaces" name="replaces" value="Knight" >
      <label for="replaces">Knight</label>

        </div>
      <div>

        <input type="radio" id="replaces" name="replaces" value="Bishop" >
        <label for="replaces">Bishop</label>

        </div>
      <div>

        <input type="radio" id="replaces" name="replaces" value="King" >
        <label for="replaces">King</label>

          </div>
      <div>

        <input type="radio" id="replaces" name="replaces" value="Queen" >
        <label for="replaces">Queen</label>

          </div>

  </div>

    <div>
      <button>Enter</button>
    </div>
  </form>

  <div class = "navbar">
    <a href = "/">Volatile Chess</a>
    <a href = "/createUser">Register Account</a>
    <a href = "/login">Login</a>
    <a href = "/users">Find User</a>
  </div>
</body>
</html>
