<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CreatePiece</title>
  <link rel="stylesheet" href="./style/stylesheet.css">
</head>
<body>
  <h1>Create A New Chess Piece</h1>
  <form action="/createPiece" method="post">
    <div class="formBox">
    <label for="pieceName">Piece Name</label>
    <input type="text" name="pieceName" id="pieceName">
    </div>
    <div class="formBox">
    <label for="start">Starting Position</label>
    <input type="text" name="start" id="start">
    </div>
    <div class="formBox">
    <label for="moves">Moves</label>
    <input type="text" name="moves" id="moves">
    </div>
    <fieldset>
      <legend>Select A Special Move</legend>

    <div>

    <input type="radio" id="special" name="special" value="None" checked>
    <label for="special">None</label>

      </div>
    <div>

    <input type="radio" id="special" name="special" value="Pawn Diagonal" >
    <label for="special">Pawn Diagonal</label>

      </div>


  </form>
</body>
</html>
