<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/style/stylesheet.css">
</head>
<body>
  <h1 class = "main">Welcome to Volatile Chess!</h1>
  <h3 class = "main">Your are now viewing the home screen.</h3>
  <p>Add what that site is here.</p>
  <h1>testtetss</h1>
  <div class = "navbar">
    <a href = "/" class = "active">Volatile Chess</a>
    <a href = "/createUser">Register Account</a>
    <a href = "/login">Login</a>
  </div>
</body>
</html>
