<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="./style/stylesheet.css">
</head>
<body>
  <h1>Login</h1>
  <div class = "trueCenter">
    <form action = "/login" method = "post">
        <div>
            <label for = "email">Email</label>
            <input type = "text" id = "email" name = "email" required>
        </div>
        <div>
            <label for = "password"> Password</label>
            <input type = "password" id = "password" name = "password" required>
        </div>
        <div>
            <button>Enter</button>
        </div>
    </form>
    </div>

    <br>
    <div class = "shortTextBox">
      <p class = "textBox">Don't have an account?<br><a href = "/createUser" class = "login">Create one here!</a></p>
    </div>

  <div class = "navbar">
    <a href = "/">Volatile Chess</a>
    <a href = "/createUser">Register Account</a>
    <a href = "/login"  class = "active">Login</a>
    <a href = "/users">Find User</a>
  </div>
</body>
</html>
