<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= tempUser.userName%>'s Page</title>
  <link rel="stylesheet" href="./style/stylesheet.css">
</head>
<body>
  <h1 class = "main">Viewing the userPage screen</h1>
  <p>Add javascript to display user's data if signed in</p>
  <p>If not sign in, the page should display messesage telling the user to make a account and provide a link to the register page and login page</p>
  <p><%= tempUser.userName%></p>
  <a href = "chessBoard.html";>chess board</a>
  <div class = "navbar">
    <a href = "/">Volatile Chess</a>
    <a href = "/createUser">Register Account</a>
    <a href = "/login">Login</a>
  </div>
</body>
</html>
